@Html.AntiForgeryToken()
<div id="list-by-entity">
    <h2 class="text-center">ListByEntity</h2>
    <div id="search-entity-container">
        <div class="form-group">
            <input class="form-control mx-auto" type="search" placeholder="Search Entity By Name" id="search-entity" />
        </div>
        <div id="search-by-field-container" class="form-group hide" style="text-align: center;">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Launch demo modal
            </button>
        </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <div id="entity-list-data-results">
        <ul id="entity"></ul>
    </div>
</div>
<div id="preloader" class="preloader hide">
    <div id="loader" class="loader"></div>
</div>

@section Scripts{
    <script async>
        (function () {
            var search_input = document.getElementById("search-entity");
            var count = 0;
            var currentPage = 1;
            search_input.addEventListener("keypress", searchEntity, false);

            function searchEntity(e) {
                if (e.which == 13) {
                    currentPage = 1;
                    var input_text = search_input.value;
                    if (input_text != "" && input_text.length >= 3) {
                        var ajax = new XMLHttpRequest();
                        var formData = new FormData();
                        formData.append("entityName", input_text);
                        formData.append("currentPage", currentPage);
                        var token = document.getElementsByName("__RequestVerificationToken");
                        formData.append("__RequestVerificationToken", token[0].value);
                        ajax.addEventListener("load", function () { populateList(this, 0) }, false);
                        ajax.onerror = function () {
                            console.log("** An error occurred during the transaction");
                        }
                        ajax.open("POST", "/Home/SearchEntity");
                        ajax.send(formData);

                        var preloader = document.getElementById("preloader");
                        preloader.classList.remove("hide");
                        preloader.classList.add("preloder");
                        var loader = document.getElementById("loader");
                        loader.classList.add("loader");
                    }
                }
            }

            function loadMore(e) {
                e.target.parentNode.removeChild(e.target);
                var input_text = document.getElementById("e_f").value;
                currentPage = currentPage + 1;
                var ajax = new XMLHttpRequest();
                var formData = new FormData();
                formData.append("entityName", input_text);
                var token = document.getElementsByName("__RequestVerificationToken");
                formData.append("__RequestVerificationToken", token[0].value);
                formData.append("currentPage", currentPage);
                ajax.addEventListener("load", function () { populateList(this, 1) }, true);
                ajax.open("POST", "/Home/SearchEntity");
                ajax.send(formData);

                var preloader = document.getElementById("preloader");
                preloader.classList.remove("hide");
                preloader.classList.add("preloder");
                var loader = document.getElementById("loader");
                loader.classList.add("loader");
            }

            async function populateList(ajax, type) {

                var result = JSON.parse(ajax.responseText);
                if (result !== "Nothing found") {
                    const delay = ms => new Promise(res => setTimeout(res, ms));

                    var div_results = document.getElementById("entity-list-data-results");
                    var ul_entity = document.getElementById("entity");



                    if (type == 0) {
                        if (ul_entity.children.length > 0) {
                            ul_entity.innerHTML = "";
                            document.getElementById("entity_title").parentNode.removeChild(document.getElementById("entity_title"));
                            count = 0;
                        }
                    }

                    for (let i = 0; i < result.length; i++) {
                        if (i == 0) {
                            //Preloader
                            var preloader = document.getElementById("preloader");
                            preloader.classList.add("hide");
                            preloader.classList.remove("preloder");
                            var loader = document.getElementById("loader");
                            loader.classList.remove("loader");


                        }
                        count++;
                        var li = document.createElement("li");
                        ul_entity.append(li);
                        var table = document.createElement("table");
                        table.classList.add("table");
                        if (i % 2 == 0) {
                            table.classList.add("table-dark");
                        }
                        else {
                            table.classList.add("table-white");
                        }
                        table.classList.add("table-bordered");
                        var allPropertyNames = Object.keys(result[i]);
                        var thead = document.createElement("thead");
                        var tbody = document.createElement("tbody");
                        var trHead = document.createElement("tr");
                        var trBody = document.createElement("tr");
                        for (let j = 0; j < allPropertyNames.length; j++) {

                            if (i == 0 && j == 0) {
                                if (type == 0) {
                                    var entity_title = document.createElement("h2");
                                    entity_title.setAttribute("id", "entity_title");
                                    var icon = document.createElement("i");
                                    icon.classList.add("fa", "fa-phone")
                                    entity_title.innerHTML = result[0][allPropertyNames[allPropertyNames.length - 1]];
                                    div_results.prepend(entity_title);
                                    var btn_search_by_field = document.getElementById("search-by-field-container");
                                    btn_search_by_field.classList.remove("hide");

                                    btn_search_by_field.addEventListener("click", populateModal, true);
                                }
                            }

                            var th = document.createElement("th");
                            th.innerText = allPropertyNames[j];
                            trHead.append(th);
                            thead.append(trHead);
                            table.append(thead);
                            var td = document.createElement("td");
                            td.append(result[i][allPropertyNames[j]]);
                            trBody.append(td);



                            tbody.append(trBody);
                            table.append(tbody);
                            table.setAttribute("id", "table-" + (count));
                            table.classList.add("animated", "fadeInUp")
                            li.append(table);

                        }


                        var td_edit = document.createElement("td");
                        var btn_edit = document.createElement("a");
                        btn_edit.setAttribute("href", "/Edit/" + result[0]["Entity"] + "/" +
                            result[i][allPropertyNames[0]]);
                        btn_edit.innerHTML = "Edit";
                        btn_edit.classList.add("btn_edit");
                        td_edit.append(btn_edit);


                        var btn_delete = document.createElement("button");
                        btn_delete.setAttribute("data-entity", result[0]["Entity"]);
                        btn_delete.setAttribute("data-id", result[i][allPropertyNames[0]]);
                        btn_delete.setAttribute("data-index", count);
                        btn_delete.addEventListener("click", deleteEntity, false);
                        btn_delete.innerHTML = "Delete";
                        btn_delete.classList.add("btn_delete", "btn");
                        td_edit.append(btn_delete);
                        trBody.append(td_edit);
                        var actions = document.createElement("th");
                        actions.innerHTML = "Actions";
                        trHead.append(actions);
                    }

                    await delay(2000);
                    //Preloader
                    var preloader = document.getElementById("preloader");
                    preloader.classList.add("hide");
                    preloader.classList.remove("preloder");
                    var loader = document.getElementById("loader");
                    loader.classList.remove("loader");

                    if (result.length == 10) {
                        var btn_load_more = document.createElement("button");
                        btn_load_more.innerHTML = "Load More";
                        btn_load_more.classList.add("btn", "btn-primary");
                        var li = document.createElement("li");
                        li.classList.add("load-more");
                        btn_load_more.addEventListener("click", loadMore, true);
                        li.append(btn_load_more);
                        ul_entity.append(li);
                    }
                    var input_entity = document.createElement("input");
                    input_entity.setAttribute("type", "hidden");
                    input_entity.setAttribute("id", "e_f");
                    input_entity.value = result[0][allPropertyNames[allPropertyNames.length - 1]];
                    ul_entity.append(input_entity);






                }
            }

            function populateModal() {
                var table1 = document.getElementById("table-1");
                var thead = table1.getElementsByTagName("thead");
                var th_list = thead[0].getElementsByTagName("th");
            }

            function deleteEntity(e) {
                var ajax = new XMLHttpRequest();
                ajax.addEventListener("load", function () { completeDelete(this, e.target) }, true);
                var entity = e.target.getAttribute("data-entity");
                var id = e.target.getAttribute("data-id");
                ajax.open("POST", "/Delete/" + entity);
                var formData = new FormData();
                formData.append("id", id);
                ajax.send(formData);

            }

            function completeDelete(ajax, element) {
                var response = JSON.parse(ajax.responseText);
                var data_index = element.getAttribute("data-index");
                var table_to_be_deleted = document.getElementById("table-" + data_index);
                table_to_be_deleted.classList.add("fadeOutLeft", "animated");
                setTimeout(function () {
                    table_to_be_deleted.remove();
                }, 1500);


            }



        })();
    </script>
}

