html, body {
    height: 100%;
    margin: 0;
}

body {
    padding-top: 50px;
    padding-bottom: 0px;
}
li{
    list-style:none;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;

    min-height: 100%;
    margin-bottom: -50px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.notes {
    overflow: hidden;
    height: 100px;
    display: block;
    overflow-y: auto;
}
.mx-auto, .ml-auto{
    margin-left: auto;
}
.mx-auto, .mr-auto{
    margin-right: auto;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    text-align:center
}

::-moz-placeholder { /* Firefox 19+ */
    text-align: center
}

:-ms-input-placeholder { /* IE 10+ */
    text-align: center
}

:-moz-placeholder { /* Firefox 18- */
    text-align: center
}
.table-dark {
    color: #fff;
    background-color: #212529;
}

thead tr th, tbody tr td{
    text-align:center;
}
thead tr th {
    color: #54b368;
}

.btn_edit {
    background-color: #ffffff;
    padding: 3px;
    border-radius: 4px;
    color: #212529;
    margin-bottom: 5px;
    display: block;
    text-decoration:none;
}
.table-white .btn_edit {
    background-color: #212529;
    color: #ffffff;
}
.btn_delete {
    background-color: #bb270f;
    padding: 3px;
    border-radius: 4px;
    color: #ffffff;
    display: block;
    text-decoration: none;
    font-size: 1rem;
}
.table {
    border-radius: 5px;
    font-size:1rem;
}
ul#entity{
    padding:0;
    margin-bottom:50px;
}
li.load-more{
    text-align:center;
}
#entity_title {
    background-color: #3F51B5;
    display: inline-block;
    margin: 0;
    border-radius: 5px 5px 0 0;
    padding: 5px;
    color: #ffffff;
}

.text-danger-visible {
    color: #ffffff;
    background-color: #a52626;
    padding: 3px;
    border-radius: 0 0 10px 0;
    transition: opacity 3s;
    opacity: 1;
}

.text-center {
    text-align:center;
}

.dark {
    background-color: #222222;
    padding: 5px;
    color: white;
}

.mt-20{
    margin-top: 20px;
}
.my-20{
    margin-top:20px;
    margin-bottom:20px;
}
.pb-20{
    padding-bottom:20px;
}
.d-flex{
    display:flex;
}
.back-to-list {
    background-color: #222222;
    color: #24bd37;
    padding: 10px;
    border-radius: 0 0 5px 5px;
}
.edit-entity-title {
    color: #1c9c20;
    font-weight: 700;
}

.footer-absolute {
    background-color: #222222;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-brand {
    color: #1c9c20!important;
    font-weight: 900;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9370DB;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

    .loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #BA55D3;
        -webkit-animation: spin 3s linear infinite;
        animation: spin 3s linear infinite;
    }

    .loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #FF00FF;
        -webkit-animation: spin 1.5s linear infinite;
        animation: spin 1.5s linear infinite;
    }

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.servQuick_gradient {
    background: #485563; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #29323c, #485563); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

